$dutch-white: #e2d4b7ff;
$grullo: #9c9583ff;
$quick-silver: #a1a499ff;
$silver-sand: #b0bbbfff;
$ash-gray: #cadbc8ff;

$gray-darker: #525252;
$gray-dark: #696969;
$gray: #808080;
$gray-light: #aeaeae;
$gray-lightest: #c5c5c5;
